p {
    color: #006680;
}

h1 {
    color: #162d50;
   }

.Avis {
    float: right;
    position: relative;
    top: 200px;
    
    }
section{ 
    width: 40%;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3;
    
    }
body {
    margin-left: 4%;
    margin-right: 4%;

}
@media screen and (max-width: 768px) {
    section {
      width: 100%;
      margin: 0 auto;
          }
.Avis{
top: 0%;
          }
  }